  <!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
    <h1>När cachen rullar in!</h1>
    <p>Arkivera fakturor. Printa *.PDF:er och håll koll på din klöver!</p>
    <p>
        <a class="btn btn-lg btn-primary" asp-controller="User" asp-action="signup" role="button">Skapa konto</a>
    </p>
</div>