@model UserLoginVM
<h1>Inloggning</h1>
<hr />
<div class="container-fluid">
    <form asp-controller="User" asp-action="SignIn" method="post">
        <fieldset class="fieldSet">
            <!-- Name -->
            <br />
            <div class="input-group">
                <span asp-validation-for="@Model.UserName" class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input asp-for="@Model.UserName" class="form-control" placeholder="Användarnamn">
            </div>
            <br />
            <!-- Password -->
            <div class="input-group">
                <span asp-validation-for="@Model.Password" class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input asp-for="@Model.Password" class="form-control" placeholder="Lösenord">
            </div>
            <br />
            <!-- Submit button -->
            <br />
            <button type="submit" class="btn btn-default">Logga in</button>
        </fieldset>
    </form>
    <br />
    <div class="dialog-footer">
        <span class="dialogBox-footer-forgot">Glömt lösenord?</span><br /><br />
        <hr />
        <!--Added a link to signUp page to "Register now"-->
        <span class="dialogBox-footer-register">Inget konto? <b><a asp-controller="User" asp-action="SignUp" method="post">Registrera här</a></b></span>
    </div>
</div>
